html 
{
	--white: #fcfcfc;
}
*
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body
{
	background: #2C004F;
}
p
{
	color: #fcfcfc;
}
a 
{
    color: var(--white);
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
.verx
{
	display: flex;
	position: absolute;
	width: 100%;
	height: 80px;
	left: 0px;
	top: 0px;

	background: #5946A3;
	box-shadow: 0px 4px 4px 2px #5946A3;
}
.wraper-verx
{
	width: 1250px;
    padding: 0 20px;
    margin: 0 auto;
    min-height: 80px;
}
.verx-text
{
	display: flex;
	position: absolute;
	width: 1250px;
	height: 40px;
	align-items: center;
	top: 20px;
}
.wraper-verx.verx-text
{
	display: flex;
position: absolute;
width: 1250px;
height: 39px;
left: 115px;
top: 21px;
}
h3.verx-text-glavna
{
	width: 8rem;
	left: 10%;

	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 40px;

	align-items: center;
	text-align: center;
	font-feature-settings: 'liga' off;

	color: #FFFFFF;
}
h3.verx-text-onas
{
	width: 6.5rem;
	height: 100%;
	left: 20%;

	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 40px;

	align-items: center;
	text-align: center;

	color: #FFFFFF;
}
h3.verx-text-vopros-otvet
{
	position: sticky;
	height: 100%;
	left: 30%;

	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 40px;

	align-items: center;
	text-align: center;

	color: #FFFFFF;
}
h3.verx-text-karzina
{
	display: flex;
	position: absolute;
	height: 100%;
	left: 80%;

	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 40px;
	/* identical to box height */

	align-items: center;
	text-align: right;

	color: #FFFFFF;
}
.oboi
{
	display: flex;
	position: absolute;
	width: 100%;
	height: auto;
	left: 0px;
	top: 80px;
	overflow: hidden;
}
.wrapper
{
    width: 1250px;
    padding: 0 20px;
    margin: 0 auto;
    min-height: 600px;
}
.content
{
	width: 1250px;
    display: inline-block;
    vertical-align: top;
}

.text
{
	display: flex;
	text-align: center;
}
.content.text
{
	display: flex;
	position: relative;
}
.text h3
{
	position: absolute;
	width: 1250px;
	height: 72px;
	text-align: center;
	top: 50px;

	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 150%;
/* identical to box height, or 72px */


color: #FFFFFF;
}
.fon img
{
	position: sticky;
	width: 1250px;
	height: auto;
	left: 0px;
	top: 15px;
	pointer-events: none;
	mix-blend-mode: normal;
	opacity: 0.49;
}
.ds3
{
	display: flex;
	position: absolute;
	width: 547px;
	height: 494.15px;
	top: 242.53px;
}
.wrapper.ds3
{
	display: flex;
	position: relative;
}
.box
{
	display: flex;
	position: absolute;
	width: 547px;
	height: 494.15px;
	left: 0px;
	top: 0px;
}
.name p
{
	position: absolute;
width: 547px;
height: 91.24px;
left: 0px;
top: 0px;

font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 150%;
/* or 72px */

align-items: center;
text-align: center;

color: #FFFFFF;

}
.blur
{
	position: absolute;
	width: 547px;
	height: 494.15px;
	left: 0px;

	background: rgba(196, 196, 196, 0.21);
	filter: blur(10px);
	backdrop-filter: blur(10px);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 40px;
}
footer
{
	font-family: Oswald;
	position: absolute;
	bottom: 0;
	background: #170029;
	max-width: 100%;
	height: auto;
	width: 100vw;
	padding-top: 40px;
	color: rgba(255, 255, 255, 0.55);
}
.footer-content
{
	display: flex;
	align-self: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content h3
{
	color: rgba(255, 255, 255, 0.85);
	font-weight: 400;
	text-transform: capitalize;
	font-size: 1.8rem;
	line-height: 3rem;
}
.footer-content p
{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 12px;
}