html 
{
	--white: #fcfcfc;
}
*
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body
{
	background: #2C004F;
}
img
{
	pointer-events: none;
}
a 
{
    color: var(--white);
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
.verx
{
	display: flex;
	position: absolute;
	width: 100%;
	height: 80px;
	left: 0px;
	top: 0px;

	background: #5946A3;
	box-shadow: 0px 4px 4px 2px #5946A3;
}
.wraper-verx
{
	width: 1350px;
    padding: 0 20px;
    margin: 0 auto;
    min-height: 80px;
}
.verx-text
{
	display: flex;
	position: absolute;
	width: 1350px;
	height: 40px;
	align-items: center;
	top: 20px;
}
.wraper-verx.verx-text
{
	display: flex;
position: absolute;
width: 1350px;
height: 39px;
left: 115px;
top: 21px;
}
h3.verx-text-glavna
{
	width: 8rem;
	left: 10%;

	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 40px;

	align-items: center;
	text-align: center;
	font-feature-settings: 'liga' off;

	color: #FFFFFF;
}
h3.verx-text-onas
{
	width: 6.5rem;
	height: 100%;
	left: 20%;

	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 40px;

	align-items: center;
	text-align: center;

	color: #FFFFFF;
}
h3.verx-text-vopros-otvet
{
	position: sticky;
	height: 100%;
	left: 30%;

	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 40px;

	align-items: center;
	text-align: center;

	color: #FFFFFF;
}
h3.verx-text-karzina
{
	display: flex;
	position: absolute;
	height: 100%;
	left: 91%;

	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 40px;
	/* identical to box height */

	align-items: center;
	text-align: right;

	color: #FFFFFF;
}
.oboi
{
	display: flex;
	position: absolute;
	width: 100%;
	height: auto;
	left: 0px;
	top: 80px;
	overflow: hidden;
}
.wrapper
{
    width: 1350px;
    padding: 0 20px;
    margin: 0 auto;
}
.content
{
	width: 100%;
    display: inline-block;
    vertical-align: top;
}

.text
{
	display: flex;
	text-align: center;
}
.content.text
{
	display: flex;
	position: relative;
}
.text h3
{
	position: absolute;
	width: 1350px;
	height: 72px;
	text-align: center;
	top: 50px;

	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 150%;
/* identical to box height, or 72px */


color: #FFFFFF;
}
.fon img
{
	position: sticky;
	width: 1350px;
	height: auto;
	left: 0px;
	top: 15px;
	pointer-events: none;
	mix-blend-mode: normal;
	opacity: 0.49;
}
.ds3
{
	display: flex;
	position: absolute;
	width: 547px;
	height: 494.15px;
	top: 242.53px;
}
.wrapper.ds3
{
	display: flex;
	position: relative;
}
.button-buy
{
	position: absolute;
	height: 80px;
	left: 363px;
	top: 327.93px;
}
.text-buy
{
	position: absolute;
	width: 250px;
	height: 72.27px;
	left: 0px;
	top: 0px;

	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 150%;
	/* or 72px */

	text-align: center;

	color: #FFFFFF;
}
.b-buy
{
	width: 250px;
	height: 80px;
	left: 0px;
	top: 0px;

	background: #7F0094;
	box-shadow: 10px 10px 6px -3px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}
.box
{
	display: flex;
	position: absolute;
	width: 547px;
	height: 494.15px;
	left: 100px;
	top: 0px;
}
.name p
{
	position: absolute;
	width: 547px;
	height: 91.24px;
	left: 0px;
	top: 0px;

	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 150%;
	/* or 72px */

	align-items: center;
	text-align: center;

	color: #FFFFFF;

}
.blur
{
	display: flex;
	position: absolute;
	width: 547px;
	height: 494.15px;
	left: 0px;

	background: rgba(196, 196, 196, 0.21);
	filter: blur(10px);
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 40px;
}
.opisanie
{
	position: absolute;
	width: 462px;
	height: 133.7px;
	left: 51px;
	top: 113.83px;

	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	/* or 36px */


	color: rgba(255, 255, 255, 0.71);
}
.old-prise
{
	position: absolute;
	width: 94px;
	height: 53px;
	left: 4px;
	top: 349.32px;

	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	display: flex;
	align-items: center;
	text-align: center;
	text-decoration-line: line-through;

	color: #FF7878;
}
.now-prise
{
	position: absolute;
	width: 134px;
	height: 95px;
	left: 114px;
	top: 316.47px;

	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 95px;
	/* identical to box height */

	display: flex;
	align-items: center;
	text-align: center;
	color: #fcfcfc;
}
.tip-tovara
{
	display: flex;
}
.tip-tovara h2
{
	width: 1350px;
	height: 140px;
	top: 1026px;

	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	line-height: 140px;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}
.tovar
{
	display: flex;
	width: 100%;
}
.akkaynt
{
	width: 100%;
}
.tovar.akkaynt
{
	position: absolute;
	width: 470px;
	height: 680px;
	left: 0px;
	top: 0px;
}
.text-name
{
	position: static;
	width: 450px;
	left: 0px;
	top: 540px;
}
.akkaynt.text-name
{
	display: flex;
}
.text-name h1
{
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 130px;
	align-items: center;
	text-align: center;
	position: absolute;
	width: 450px;

	color: #FFFFFF;

}
.button
{
	display: flex;
    height: 142.36px;
    background: #6500B5;
    border-radius: 0px 0px 45px 45px;
    margin: 15px;
}
.img-akkaynt
{
	position: relative;
}
.img-akkaynt img
{
	display: flex;
	width: 420px;
	height: 600px;
	left: 0px;
	top: 0px;
	background-blend-mode: lighten;
	mix-blend-mode: normal;
	border-radius: 45px;
	margin: 15px;
}
.img-key img
{
	display: flex;
	width: 420px;
	height: 600px;
	left: 0px;
	top: 0px;
	background-blend-mode: lighten;
	mix-blend-mode: normal;
	border-radius: 45px;
	margin: 15px;
}
.img-yslygi img
{
	display: flex;
	width: 420px;
	height: 600px;
	left: 0px;
	top: 0px;
	background-blend-mode: lighten;
	mix-blend-mode: normal;
	border-radius: 45px;
	margin: 15px;
}
footer
{
	font-family: Oswald;
	position: absolute;
	bottom: 0;
	background: #170029;
	max-width: 100%;
	height: auto;
	width: 100vw;
	padding-top: 40px;
	color: rgba(255, 255, 255, 0.55);
}
.footer-content
{
	display: flex;
	align-self: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content h3
{
	color: rgba(255, 255, 255, 0.85);
	font-weight: 400;
	text-transform: capitalize;
	font-size: 1.8rem;
	line-height: 3rem;
}
.footer-content p
{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 12px;
}